.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.content {
  min-height: calc(100vh - 64px - 252px);
}

.goodsList {
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
  grid-gap: 30px;
}
.container2 {
  max-width: 1266px;
  margin: 0 auto;
}

.card {
  display: flex;
  flex-direction: column;
}

.card .card-content {
    min-height: 140px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card .card-title {
  font-size: 1.3rem !important;
  font-weight: 500 !important;
  line-height: 1.4 !important;
}

.card-price {
   font-size: 1.3rem !important;
  font-weight: 600 !important;
}

.old-price {
  opacity: 0.6;
  text-decoration:line-through;
  margin-right: 15px;
}

.cart {
  position: fixed;
  right: 2rem;
  top:5rem;
  bottom: unset;
  width: 60px;
  height: 60px;
  background: violet;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  cursor: pointer;
}

.cart:hover {
  opacity: 0.8;
}

.cart-quantity {
  position: absolute;
  top: -9px;
  left: 12px;
  color: white;
  display: flex;
  background: red;
  width: 15px;
  height: 15px;
  border-radius: 100%;
  justify-content: center;
  align-items: center;
  font-size: 9px;
}

.basketList {
  position: fixed !important;
  top:50%;
  left: 50%;
  transform: translate(-50%,-50%);
  z-index: 5000;
  max-height: 95%;
  width: 40rem;
  background: #fff;
}

.basket-close {
  position: absolute;
  top:8px;
  right: 8px;
  color:#fff;
  cursor: pointer;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

